In [1]:
import os
import logging
from datetime import datetime
from openbb import obb
import pandas as pd

In [2]:
# Configure logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

# Set your OpenBB API key
obb.account.login(pat=openbb_api_key)
obb.user.preferences.output_type = "dataframe"

In [3]:
def fetch_data(ticker, start_date, end_date, interval, provider):
    logger.info(f"Fetching data for {ticker} from {start_date} to {end_date}")
    data = obb.equity.price.historical(
        symbol=ticker,
        start_date=start_date,
        end_date=end_date,
        interval=interval,
        provider=provider,
    )
    logger.info(f"Fetched data head:\n{data.head()}")
    logger.info(f"Fetched data tail:\n{data.tail()}")
    return data

In [5]:
ticker = "AAPL"
train_date = ["2024-10-21", "2024-10-30"]
val_date = ["2024-10-31", "2024-11-04"]
test_date = ["2024-11-05", "2024-11-06"]
interval = "1m"
provider = "fmp"
overall_start_date = train_date[0]
overall_end_date = test_date[1]

In [6]:
full_data = fetch_data(
    ticker, overall_start_date, overall_end_date, interval, provider
)
print(full_data.shape)
full_data

INFO:__main__:Fetching data for AAPL from 2024-10-21 to 2024-11-06
INFO:__main__:Fetched data head:
                       open    high     low   close   volume
date
2024-11-04 09:30:00  220.99  222.41  220.99  222.00  1379845
2024-11-04 09:31:00  221.96  222.33  221.07  221.53   293021
2024-11-04 09:32:00  221.53  221.69  220.80  220.83   268133
2024-11-04 09:33:00  220.86  221.41  220.38  221.36   221379
2024-11-04 09:34:00  221.31  221.34  220.54  220.67   167913
INFO:__main__:Fetched data tail:
                       open    high     low   close   volume
date
2024-11-06 15:55:00  223.06  223.24  222.71  222.72   360469
2024-11-06 15:56:00  222.71  222.72  222.50  222.64   293751
2024-11-06 15:57:00  222.64  222.70  222.55  222.69   252856
2024-11-06 15:58:00  222.69  222.78  222.55  222.56   421861
2024-11-06 15:59:00  222.56  222.78  222.51  222.70  1122154

(1170, 5)

                       open    high     low   close   volume
date
2024-11-04 09:30:00  220.99  222.41  220.99  222.00  1379845
2024-11-04 09:31:00  221.96  222.33  221.07  221.53   293021
2024-11-04 09:32:00  221.53  221.69  220.80  220.83   268133
2024-11-04 09:33:00  220.86  221.41  220.38  221.36   221379
2024-11-04 09:34:00  221.31  221.34  220.54  220.67   167913
...                     ...     ...     ...     ...      ...
2024-11-06 15:55:00  223.06  223.24  222.71  222.72   360469
2024-11-06 15:56:00  222.71  222.72  222.50  222.64   293751
2024-11-06 15:57:00  222.64  222.70  222.55  222.69   252856
2024-11-06 15:58:00  222.69  222.78  222.55  222.56   421861
2024-11-06 15:59:00  222.56  222.78  222.51  222.70  1122154

[1170 rows x 5 columns]

In [27]:
df_monthly = obb.equity.price.historical(
    "AAPL", start_date="2024-11-01", end_date="2024-11-04", interval="1m", provider="fmp"
)
df_monthly

                       open    high     low   close   volume
date
2024-11-01 09:30:00  220.97  221.83  220.27  221.43  1869295
2024-11-01 09:31:00  221.39  222.35  221.02  222.07   659893
2024-11-01 09:32:00  222.16  222.30  221.19  221.26   542891
2024-11-01 09:33:00  221.27  222.04  221.17  221.56   550309
2024-11-01 09:34:00  221.55  222.24  221.53  222.24   466675
...                     ...     ...     ...     ...      ...
2024-11-04 15:55:00  221.98  222.01  221.52  221.67   335892
2024-11-04 15:56:00  221.67  221.72  221.61  221.68   218993
2024-11-04 15:57:00  221.67  221.86  221.62  221.81   223454
2024-11-04 15:58:00  221.81  221.93  221.81  221.84   218811
2024-11-04 15:59:00  221.83  222.16  221.81  222.12   832204

[780 rows x 5 columns]